{% extends "base.jinja" %}

{% block "content" %}
<section class="section">

    <h1>URL Shortener</h1>
    <p>This is a URL Shortener. It generates random unique names for your links using words from the <a
            href="https://en.wikipedia.org/wiki/Toki_Pona">Toki Pona</a> language. This is an atempt at making a URL
        shortener whose links are easy to remember.</p>
    <a class="button is-light is-link" href="/dashboard/">Dashboard</a>
</section>
{% endblock %}